/* div {
    padding: 20px;
    background-color: tan;
    border: solid sandybrown;
    margin: 1px;
} */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: green;
    padding: 10px;
}

.grid-item {
    background-color: lightgrey;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}